        /*Home*/
@media screen and (max-width: 500px) {
    #home {
        box-sizing: border-box;

        position: relative;
        width: 414px;
        height: 896px;

        background-color: #F9F9F9;
        border: 1px solid #FFFFFF;
    }

    #logo-1 {
        position: absolute;
        width: 337px;
        height: 217px;
        left: 38px;
        top: 85px;
    }

    #self-check {
        position: absolute;
        width: 137px;
        height: 38px;
        left: 144px;
        top: 345px;

        font-family: 'Montserrat', sans-serif;
        font-size: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 157.9%;

        color: #004A8D;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    #texto-inicio {
        position: absolute;
        width: 362px;
        height: 274px;
        left: 27px;
        top: 435px;

        font-family: 'Abel';
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 157.9%;
        text-align: center;

        color: #000000;
    }

    #faca-seu-checkin {
        position: absolute;
        width: 247px;
        height: 63px;
        left: 82px;
        top: 674px;
        border-radius: 30px;
        background-color: #004A8D;
        border: none;

        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 157.9%;
        color: #FFFFFF;
    }

    #cadastre-se-home {
        position: absolute;
        width: 247px;
        height: 63px;
        left: 80px;
        top: 770px;
        border-radius: 30px;
        background-color: #F7941E;
        border: none;

        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 157.9%;
        color: #FFFFFF;
    }

    #logo-rodape {
        position: absolute;
        width: 33px;
        height: 21px;
        left: 190px;
        top: 865px;
    }
    
}